/*~~~~~~~~~~~~~~~~~~~~~~~~~
FOOTER
~~~~~~~~~~~~~~~~~~~~~~~~~*/
footer {
	margin-top: auto;
	padding-top: 29px;
	background-color: var(--basick-white);
	box-shadow: 0px 0px 20px rgba(48, 130, 255, 0.3);

	.container {
		position: relative;
	}

	@include mobile {
		padding-top: 35px;
	}
}

.footer {
	&__top {
		align-items: center;
	}

	&__nav {
		position: absolute;
		right: 0;
		top: 15px;

		li {
			margin-left: 44px;

			&:first-child {
				margin-left: 0;
			}

			a {
				font-size: 18px;
				transition: color $duration;

				&:hover {
					color: var(--color-primary);
				}
			}
		}
	}

	&__middle {
		display: grid;
		grid-template-columns: repeat(3, auto);
		column-gap: 20px;
		padding: 11px 0 48px;
		justify-content: space-between;
		line-height: (25/16);
	}

	&__firm-info-list {
		$this: '.firm-info';

		line-height: inherit;
		font-size: 16px;
		
		.firm-info__ic {
			margin-top: 4px;
		}

		.firm-info--mail .firm-info__ic {
			margin-top: 6px;
		}
	}

	&__sci {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: max-content;
		row-gap: 11px;

		.sci__link--tel {
			margin: 1px 0 -15px 22px;
		}

		.sci__link--insta {
			grid-row: 2 / 3;
			grid-column: 1 / 5;
			justify-self: right;
		}
	}

	&__bottom {
		padding: 8px 0 10px;
		font-size: 14px;
		line-height: (14/12);
		color: var(--basick-white);
		background-color: var(--color-primary);

		.container {
			display: grid;
			grid-template-columns: max-content max-content;
			justify-content: space-between;
		}
	}

	@include table {

		&__nav {
			right: 20px;
		}

		&__middle {
			padding: 11px 0 30px;
		}

		&__bottom {
			.container {
				grid-template-columns: 1fr;
				row-gap: 7px;
			}
		}
	}
	
	@include mobile {
		&__nav {
			position: static;
		}

		&__middle {
			padding: 20px 0 35px;
			grid-template-columns: 1fr;

			&-col {
				&:nth-of-type(2) {
					margin-top: 40px;
				}
			}
		}

		&__nav {
			flex-direction: column;
			margin: 20px 0 22px;

			li {
				margin: 0; 
			}
		}

		&__sci .sci__link--insta {
			grid-row: auto;
			grid-column: 5 / 6;
			margin-left: 22px;
		}

		&__bottom {
			.container {
				grid-template-columns: 1fr;
				row-gap: 7px;
			}
		}
	}
	
	@media (max-width: 390px) {
		&__sci {
			.sci__link--insta {
				margin-left: 10px;
				grid-column: auto;
			}

			.sci__link--tel {
				margin: 0;
				grid-row: 2 / 3;
				grid-column: 1 / 5;
			}
		}
	}
}